.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.player-loading {
  height: 100vh;
  background-color: #e1b0b2;
}

.player-tip {
  position: absolute;
  top: -20px;
  font-size: 14px;
  color: #fff9d9;
}
